---
import ScheduleCard from "@components/home/ScheduleCard.astro";
import Layout from "@layouts/Layout.astro";
import modImg from "@assets/moderators/monica.png";
import redClock from "@assets/icons/red.svg";
import calendar from "@assets/icons/calendar.svg";
import { SCHEDULE } from "@helpers/shedule"
import logo from "@assets/logo.png"

const thursday = SCHEDULE.thursday;
const friday = SCHEDULE.friday;
---

<Layout title="Programa">
  <section class="schedule">
    <!-- <div class="schedule__btns">
      <a 
        class="schedule__btn-day active"
        id="thursday"
        href=""
      >
        Jueves
      </a>
      <a 
        id="friday"
        class="schedule__btn-day "
        href=""
      >
        Viernes
      </a>
  
    </div> -->
    <div class="schedule__thursday">
      <div class="schedule__welcome">
        <img 
        
          src={modImg}>
        <div class="schedule__info">
          <h3>
            Bienvenida
          </h3>
          <p>
            Dra. Mónica Lamas Gregori
          </p>
          <div class="schedule__time">
            <img 
              class="schedule__icon"
              src={redClock} alt=""
            >
            <p>
              8:00 - 8:15 hrs
            </p>
          </div>
          <div class="schedule__time">
            <img 
              class="schedule__icon"
              src={calendar} alt=""
            >
            <p>
              Jueves, 19 de Octubre
            </p>
          </div>
        </div>
      </div>  
      <ScheduleCard 
        item={thursday[0]}
      />
      <div class="schedule__break">
        <p>
          {thursday[1].break}
        </p>
        <span>
          {thursday[1].time}
        </span>
      </div>
      <ScheduleCard 
        item={thursday[2]}
      />
      <div class="schedule__break">
        <p>
          {thursday[3].break}
        </p>
        <span>
          {thursday[3].time}
        </span>
      </div>
      <ScheduleCard 
        item={thursday[4]}
      />
      <div class="schedule__break">
        <p>
          {thursday[5].break}
        </p>
        <span>
          {thursday[5].time}
        </span>
      </div>
      <ScheduleCard 
        item={thursday[6]}
      />
    </div>
    <div class="schedule__welcome">
      <img 
        style="width:auto;"
        src={logo}>
      <div class="schedule__info">
        <h3>
          Segundo día de actividades
        </h3>
        
        <div class="schedule__time">
          <img 
            class="schedule__icon"
            src={redClock} alt=""
          >
          <p>
            9:00 - 14:15 hrs
          </p>
        </div>
        <div class="schedule__time">
          <img 
            class="schedule__icon"
            src={calendar} alt=""
          >
          <p>
            Viernes, 20 de Octubre
          </p>
        </div>
      </div>
    </div> 
    <div class="schedule__thursday">
      <ScheduleCard 
        item={friday[0]}
      />
      <div class="schedule__break">
        <p>
          {friday[1].break}
        </p>
        <span>
          {friday[1].time}
        </span>
      </div>
      <ScheduleCard 
        item={friday[2]}
      />
      <div class="schedule__break">
        <p>
          {friday[3].break}
        </p>
        <span>
          {friday[3].time}
        </span>
      </div>
    </div>

  </section>
</Layout>
<script>
  const thursday = document.getElementById("thursday");
  const friday = document.getElementById("friday");

  const thursdaySection = document.getElementsByClassName("")
  thursday.addEventListener("click",() => {


  })
  
  


  

  
</script>

<style lang="scss">
  @import "@assets/library";
  .schedule{
    padding: 100px 40px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px){
      justify-content: center;
      padding: 100px 0 0;
    }
    &__btns{
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 660px;
      margin-bottom: 30px;
      & a{
        width: 200px;
        height: 50px;
        border-radius: 4px;
        color: $black;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        border: 3px solid $primary-color;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        @media (max-width: 768px){
          width: 40%;
          height: 30px;
          font-size: 12px;
          line-height: 16px;
          padding: 4px;
        }
      }
      .active{
        background-color: $primary-color;
        color: $white;
        font-weight:600;

      }
    }
    &__thursday{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 880px;
      @media (max-width: 768px){
        max-width: 660px;
      }
    }
    &__welcome{
      width: 100%;
      max-width: 880px;
      padding: 20px;
      height: 220px;
      border-radius: 8px;
      border: 4px solid $primary-color;
      display: flex;
      margin-bottom: 40px;
      align-items: center;
      @media (max-width: 768px){
        width: 90%;
      }
      & img{
        width: 130px;
        height: 180px;
        border-radius: 4px;
      }
      
    }
    &__info{
      margin-left: 3%;
      & h3{
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 10px;
        @media (max-width: 768px){
          font-size: 20px;
          line-height: 24px;
        }
      }
      & p{
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        @media (max-width: 768px){
          font-size: 16px;
          line-height: 20px;
        }
      }
      & img{
        width: 20px;
        height: 20px;
      }
    }
    &__time{
      display: flex;
      align-items: center;
      justify-content: left;
      margin: 10px 0;
      @media (max-width: 768px){
        margin: 5px 0;
      }
      & p{
        font-size: 16px;
        line-height: 20px;
        margin-left: 5px;
        @media (max-width: 768px){
          font-size: 12px;
          line-height: 16px;
        }
      }
      
    }
    &__icon{
      width: 20px;
      height: 20px;
    }
    &__break{
      width: 100%;
      height: 200px;
      background-color: $primary-color-700;
      display: flex;
      flex-direction: column;
      align-items:center;
      margin-bottom:30px;
      justify-content: center;
      color: $white;
      border-radius: 8px;
      @media (max-width: 768px){
        height: 150px;
        width: 90%;
      }
      & p{
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        @media (max-width: 768px){
          font-size: 20px;
          line-height: 24px;
        }
      }
      & span{
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
      }
    }
    &__info{
      display: flex;
      flex-direction: column;

    }
  }
  
</style>