---
import ScheduleCard from "@components/home/ScheduleCard.astro";
import Layout from "@layouts/Layout.astro";
import modImg from "@assets/moderators/monica.jpeg";
import redClock from "@assets/icons/red-clock.svg";
import calendar from "@assets/icons/calendar.svg";
import data from "@helpers/scheduleData.json"

const thursday = data.thursday
console.log(thursday, "break");


---
<Layout>
  <section class="schedule">
    <div class="schedule__welcome">
      <img 
      
        src={modImg}>
      <div class="schedule__info">
        <h3>
          Bienvenida
        </h3>
        <p>
          Dra. Mónica Lamas Gregori
        </p>
        <div class="schedule__time">
          <img 
            class="schedule__icon"
            src={calendar} alt="">
        </div>
        <div class="schedule__time">
          <img 
            class="schedule__icon"
            src={redClock} alt=""
          >
        </div>
      </div>
    </div>
    {thursday.map((item) => 
      
      <ScheduleCard 
        topicName={item.topic_name}
        timeLapse={item.time_lapse}
        img={item.img}
        moderatorName={item.moderator}
        conferences={item.conferences}
      />
    )}
  </section>
</Layout>
<style lang="scss">
  @import "@assets/library";
  .schedule{
    padding-top: 280px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__welcome{
      width: 100%;
      max-width: 880px;
      padding: 40px;
      height: 220px;
      border-radius: 8px;
      border: 4px solid $primary-color;
      display: flex;
      margin-bottom: 40px;
      align-items: center;
      & img{
        width: 200px;
        height: max-content;
        border-radius: 4px;
      }
      
    }
    &__info{
      margin-left: 3%;
      & h3{
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
      }
      & p{
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
      }
      & img{
        width: 20px;
        height: 20px;
      }
    }
    &__time{
      
      display: flex;
    }
    &__icon{
      width: 20px;
      height: 20px;
    }
    &__info{
      display: flex;
      flex-direction: column;

    }
  }
  
</style>